:host-context(.dark-theme) {
    color: white;
    p{
        color: white
    }
  }
  
  :host {
    display: block;
    padding: 16px;
    border-radius: 8px;

    .corBlue{
      background: cadetblue;
    }

    .corOrange {
      background: orange;
    }
    .corPurple {
      background: purple;
    }
  }
  